<div class="container">
    <h1 class="title">New Game</h1>
    <form [formGroup]="addGameForm" (submit)="saveGame()">
        <div class="field">
            <label for="name">Game Name</label>
            <input [class.error]="addGameForm.get('name')?.errors && addGameForm.get('name')?.touched" formControlName="name" name="name" type="text">
            <span class="validation-error" *ngIf="addGameForm.get('name')?.errors && addGameForm.get('name')?.touched">
                Please add a game name
            </span>
        </div>
        <div class="field">
            <label for="bundle">Bundle</label>
            <input [class.error]="addGameForm.get('bundle')?.errors && addGameForm.get('bundle')?.touched" formControlName="bundle" name="bundle" type="text">
            <span class="validation-error" *ngIf="addGameForm.get('bundle')?.hasError('required') && addGameForm.get('bundle')?.touched">
                Please add a game bundle
            </span>
            <span class="validation-error" *ngIf="addGameForm.get('bundle')?.hasError('pattern') && addGameForm.get('bundle')?.touched">
                Please add a valid game bundle
            </span>
        </div>
        <div class="field">
            <label for="owner">Owner</label>
            <input [class.error]="addGameForm.get('owner')?.errors && addGameForm.get('owner')?.touched" formControlName="owner" name="owner" type="text">
            <span class="validation-error" *ngIf="addGameForm.get('owner')?.hasError('required') && addGameForm.get('bundle')?.touched">
                Please add a game owner
            </span>
            <span class="validation-error" *ngIf="addGameForm.get('owner')?.hasError('email') && addGameForm.get('bundle')?.touched">
                Please add a valid game owner
            </span>
        </div>
        <div class="field">
            <label for="image">Image</label>
            <input (change)="onImageSelected($event)" name="image" type="file" accept="image/*">
        </div>
        <button [class.disabled]="!addGameForm.valid" [disabled]="!addGameForm.valid" class="button add" type="submit">Save game</button>
    </form>
</div>