<div class="container">
    <h1 class="title">New Game</h1>
    <form>
        <div class="field">
            <label for="name">Game Name</label>
            <input name="name" type="text">
        </div>
        <div class="field">
            <label for="bundle">Bundle</label>
            <input name="bundle" type="text">
        </div>
        <div class="field">
            <label for="owner">Owner</label>
            <input name="owner" type="text">
        </div>
        <div class="field">
            <label for="image">Image</label>
            <input name="image" type="file" accept="image/*">
        </div>
        <button class="button add" type="submit">Save game</button>
    </form>
</div>